@charset "UTF-8";
body, input, button{
 font-family: 'Catamaran', sans-serif;

}
body{
  background: #edf0f1;
  height: 100%;
  /*overflow: hidden;*/
}
header{
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 5;
  background: #558C89;
  box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}
#headerContainer{
  display: block;
  color: #edf0f1;
}

#selection{
  width: 100%;
  display: inline-flex;
}

#name{
  font-size: 40px;
  margin: 0 auto;
  cursor: pointer;
}

.content{
  width: 100%;
  height:100%;
  background: #edf0f1;
  transition: all 2s;

  /*position: absolute;*/
  
}
#about{
  width: 80%;
  height: 100%;
  margin: auto;
}
#me{
  width: 100px;
  height: auto;
  margin: auto;
  top: 80px;
  position: relative;
  border-radius: 200px;
}
#info{
  
  margin: 80px auto;
}
#kode{
width: 110px;
height: 40px;
background: #558C89;
box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
border-radius: 5px;
position: absolute;
text-align: center;
padding-top: 7px;
bottom: 10px;
right:25%;
left:50%;
margin-left:-55px;
color: white;
padding: 7px;
cursor: pointer;
}
#back{
transform: rotate(180deg);
width: 27px;
height: auto;
background: #edf0f1;
opacity: 0.5;
box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
border-radius: 50px;
position: absolute;
text-align: center;
padding-top: 7px;
bottom: 0%;
right:25%;
left:50%;
padding: 7px;
cursor: pointer;
}
.content2{
  width: 100%;
  height:100%;
  background: #558C89;
  opacity: 0.9;
  transition: all 2s;
  
}

.content3{
  width: 100%;
  height:0px;
  transition: all 2s;
 }
#icons{
  display: none;
  margin: auto;
  bottom: 0px;
  position: absolute;
  transition: all 2s;
}
#linkedin{
  width: 50px;
  height: auto;
  padding-left: 10px;
  position: relative;
}
#fb{
  width: 50px;
  height: auto;
  margin: auto;
  position: relative;
  padding-left: 10px;
}
